
////////////////////  bx - btn  ////////////////////

/* --------------------------------------------- */
/** size **/
$btn-height = 40px
$btn-padding-h = 5px
$btn-fs = 16px

.cmBtn
	&
		border-style solid
		border-width 1px
		padding-left $btn-padding-h
		padding-right $btn-padding-h
		line-height-as-height($btn-height)
		font-size $btn-fs
	&.cmBtnXSmall
		padding-left ($btn-padding-h - 2)
		padding-right ($btn-padding-h - 2)
		line-height-as-height($btn-height - 16)
		font-size ($btn-fs - 4)
	&.cmBtnSmall
		padding-left ($btn-padding-h - 1)
		padding-right ($btn-padding-h - 1)
		line-height-as-height($btn-height - 8)
		font-size ($btn-fs - 2)
	&.cmBtnLarge
		padding-left ($btn-padding-h + 2)
		padding-right ($btn-padding-h + 2)
		line-height-as-height($btn-height + 4)
		font-size ($btn-fs + 2)
	&.cmBtnXLarge
		padding-left ($btn-padding-h + 4)
		padding-right ($btn-padding-h + 4)
		line-height-as-height($btn-height + 8)
		font-size ($btn-fs + 4)

/* --------------------------------------------- */
/** color **/
$btn-color-fg = #f46
$btn-color-bg = $btn-color-fg
$btn-color-fg-info = white
$btn-color-bg-info = #98ccd0
$btn-color-fg-success = white
$btn-color-bg-success = #f46
$btn-color-fg-danger = white
$btn-color-bg-danger = #fd4b00
$btn-color-fg-warning = white
$btn-color-bg-warning = #f93

-btn-style($fgColor, $bgColor)
	color $fgColor
	background-color $bgColor

.cmBtn
	-btn-style($btn-color-fg, $btn-color-bg)
	background-color transparent
.cmBtn.cmBtnInfo
	-btn-style($btn-color-fg-info, $btn-color-bg-info)
	border-color @background-color
.cmBtn.cmBtnSuccess
	-btn-style($btn-color-fg-success, $btn-color-bg-success)
	border-color @background-color
.cmBtn.cmBtnDanger
	-btn-style($btn-color-fg-danger, $btn-color-bg-danger)
	border-color @background-color
.cmBtn.cmBtnWarning
	-btn-style($btn-color-fg-warning, $btn-color-bg-warning)
	border-color @background-color

// form btn
input
button
	&.cmBtn
		border 1px solid

/* --------------------------------------------- */
/** status **/

// :hover
-btn-hover-style($bgColor)
	background-color darken($bgColor, 5%)

html.mouse
	.cmBtnWrapper:not(.disabled):hover .cmBtn:not(.disabled):not(:disabled):not(.active)
	.cmBtn:not(.disabled):not(:disabled):not(.active):not(:active):hover
		-btn-hover-style($btn-color-bg)
	.cmBtnWrapper:not(.disabled):hover .cmBtn.cmBtnSuccess:not(.disabled):not(:disabled):not(.active)
	.cmBtn.cmBtnSuccess:not(.disabled):not(:disabled):not(.active):not(:active):hover
		-btn-hover-style($btn-color-bg-success)
	.cmBtnWrapper:not(.disabled):hover .cmBtn.cmBtnInfo:not(.disabled):not(:disabled):not(.active)
	.cmBtn.cmBtnInfo:not(.disabled):not(:disabled):not(.active):not(:active):hover
		-btn-hover-style($btn-color-bg-info)
	.cmBtnWrapper:not(.disabled):hover .cmBtn.cmBtnDanger:not(.disabled):not(:disabled):not(.active)
	.cmBtn.cmBtnDanger:not(.disabled):not(:disabled):not(.active):not(:active):hover
		-btn-hover-style($btn-color-bg-danger)
	.cmBtnWrapper:not(.disabled):hover .cmBtn.cmBtnWarning:not(.disabled):not(:disabled):not(.active)
	.cmBtn.cmBtnWarning:not(.disabled):not(:disabled):not(.active):not(:active):hover
		-btn-hover-style($btn-color-bg-warning)

// :active
-btn-active-style($bgColor)
	background-color darken($bgColor, 25%)
	border-color @background-color

html.cmui .cmBtnWrapper:not(.disabled):active .cmBtn:not(.disabled):not(:disabled)
.cmBtn:not(.disabled):not(:disabled):active
	background-color $btn-color-fg
	border-color @background-color
	color white
html.cmui .cmBtnWrapper:not(.disabled):active .cmBtn.cmBtnInfo:not(.disabled):not(:disabled)
.cmBtn.cmBtnInfo:not(.disabled):not(:disabled):active
	-btn-active-style($btn-color-bg-info)
html.cmui .cmBtnWrapper:not(.disabled):active .cmBtn.cmBtnSuccess:not(.disabled):not(:disabled)
.cmBtn.cmBtnSuccess:not(.disabled):not(:disabled):active
	-btn-active-style($btn-color-bg-success)
html.cmui .cmBtnWrapper:not(.disabled):active .cmBtn.cmBtnDanger:not(.disabled):not(:disabled)
.cmBtn.cmBtnDanger:not(.disabled):not(:disabled):active
	-btn-active-style($btn-color-bg-danger)
html.cmui .cmBtnWrapper:not(.disabled):active .cmBtn.cmBtnWarning:not(.disabled):not(:disabled)
.cmBtn.cmBtnWarning:not(.disabled):not(:disabled):active
	-btn-active-style($btn-color-bg-warning)

// disabled
.cmBtn
	.disabled &
	&.disabled
	&:disabled
		text-shadow none
		opacity 0.4

// .active
-btn-active-class($bgColor)
	color white
	background-color darken($bgColor, 40%)
	border-color @background-color

.cmBtnWrapper.active .cmBtn
.cmBtn.active
	-btn-active-class($btn-color-bg)
.cmBtnWrapper.active .cmBtn.cmBtnSuccess
.cmBtn.cmBtnSuccess.active
	-btn-active-class($btn-color-bg-success)
.cmBtnWrapper.active .cmBtn.cmBtnInfo
.cmBtn.cmBtnInfo.active
	-btn-active-class($btn-color-bg-info)
.cmBtnWrapper.active .cmBtn.cmBtnDanger
.cmBtn.cmBtnDanger.active
	-btn-active-class($btn-color-bg-danger)
.cmBtnWrapper.active .cmBtn.cmBtnWarning
.cmBtn.cmBtnWarning.active
	-btn-active-class($btn-color-bg-warning)


/* --------------------------------------------- */
/** multiple btn **/

/** btn line **/
.cmBtnLine
	$-gap = 10px
	>
		.cmBtn
		.cmBtnWrapper
			margin-left ($-gap / 2)
			margin-right ($-gap / 2)
			&:first-child
				margin-left 0
			&:last-child
				margin-right 0

/** btn group **/
.cmBtnGroup
	$-gap = 1px
	>
		.cmBtn:not(:first-child)
		.cmBtnWrapper:not(:first-child)
			margin-left $-gap
		.cmBtn:not(:first-child)
		.cmBtnWrapper:not(:first-child) .cmBtn
			border-top-left-radius 0
			border-bottom-left-radius 0
		.cmBtn:not(:last-child)
		.cmBtnWrapper:not(:last-child) .cmBtn
			border-top-right-radius 0
			border-bottom-right-radius 0
